<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/']" [routerLinkActive]="'active'" ><img src="assets\willow-farm.png" alt="Bootstrap" width="70" height="70"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/goToHome']" [routerLinkActive]="'active'" aria-current="page" (click)="homeClick(true)">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Products
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" [routerLink]="['/goToMilk']">Milk</a></li>
              <li><a class="dropdown-item" href="#">Cheese</a></li>
              <li><a class="dropdown-item" href="#">Butter</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <div class="button-wrapper" style="padding-right: 10px;">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </div>          
          <div  style="width: 50px; height: 40px; background-color: transparent; display: flex; justify-content: center; align-items: center;">
            <a class="nav-link" [routerLink]="['/goToCart']" [routerLinkActive]="'active'" aria-current="page" (click)="cartClick(true)">
              <i class="bi bi-cart-x" aria-hidden="true">
                Cart
              </i>
            </a>
          </div> 
        </form>               
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>